body{
    background-color: black;
}

.container{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
    
}

.clock{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: orange;
    display: inline;
    margin-top: 10px;
    /* color: white; */
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head{
    color: white;
    display: inline;
}
